APP_ENV=local
APP_DEBUG=true
APP_KEY=
APP_URL=http://localhost:8000

DB_CONNECTION=pgsql
DB_HOST=pgvector
DB_PORT=5432
DB_DATABASE=db_main
DB_USERNAME=main
DB_PASSWORD=password

POSTGRES_DB=db_main
POSTGRES_USER=main
POSTGRES_PASSWORD=password
POSTGRES_HOST_AUTH_METHOD=trust

QUEUE_CONNECTION=database
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_DEFAULT_VHOST=/
RabbitMQ__Host=rabbitmq
RabbitMQ__Port=5672
RabbitMQ__Username=guest
RabbitMQ__Password=guest
RabbitMQ__VirtualHost=/
